html, body {
  background: rgb(21, 11, 90);
  color: #f7f7f7;
  margin:0;
  padding: 0;
  padding-top: 10px;
  font-family: 'Press Start 2P';
  text-align: center;
}

body {
  font-weight: 400;
}

.main h1 {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.main-timer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;

  margin: 1rem 3rem;
}

.main-timer h4{
  font-size: 30px;
}

.mail-results{
  margin-top: 3rem;
}

button {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background: #d6c4ff;
  padding: 1rem 2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: #a5a2a2;
}

textarea {
  border: 2px solid rgb(244, 244, 244);
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: #f7f7f7;
  padding: 10px;
}

textarea:disabled {
  background-color: #d6c4ff;
}
